<div class="playoff-bracket" *ngIf="hasTeams; else emptyBracket">
  <div class="bracket-header">
    <span class="teams-count">{{ teams.length }} / {{ bracketSize }} times</span>
  </div>

  <div class="bracket-body">
    <div class="bracket-half left-half">
      <div class="bracket-round" *ngFor="let round of leftRounds; let ri = index" [class]="'round-' + (ri + 1)">
        <div class="bracket-match" *ngFor="let match of round.matches">
          <div class="team-placeholder" [class.bye]="match.teamA.isBye" [class.winner]="match.teamA.isWinner">
            {{ match.teamA.name }}
          </div>
          <div class="team-placeholder" [class.bye]="match.teamB.isBye" [class.winner]="match.teamB.isWinner">
            {{ match.teamB.name }}
          </div>
        </div>
      </div>
    </div>

    <div class="bracket-middle">
      <div class="bracket-round semi-finals">
        <div class="bracket-match" *ngFor="let match of semiFinals.matches">
          <div class="team-placeholder" [class.winner]="match.teamA.isWinner">{{ match.teamA.name }}</div>
          <div class="team-placeholder" [class.winner]="match.teamB.isWinner">{{ match.teamB.name }}</div>
        </div>
      </div>
      <div class="bracket-round final-round">
        <div class="bracket-match final-match" *ngFor="let match of finalRound.matches">
          <div class="team-placeholder" [class.winner]="match.teamA.isWinner">{{ match.teamA.name }}</div>
          <div class="team-placeholder" [class.winner]="match.teamB.isWinner">{{ match.teamB.name }}</div>
        </div>
      </div>
    </div>

    <div class="bracket-half right-half">
      <div class="bracket-round" *ngFor="let round of rightRounds; let ri = index" [class]="'round-' + (rightRounds.length - ri)">
        <div class="bracket-match" *ngFor="let match of round.matches">
          <div class="team-placeholder" [class.bye]="match.teamA.isBye" [class.winner]="match.teamA.isWinner">
            {{ match.teamA.name }}
          </div>
          <div class="team-placeholder" [class.bye]="match.teamB.isBye" [class.winner]="match.teamB.isWinner">
            {{ match.teamB.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyBracket>
  <p class="bracket-empty">Adicione pelo menos 2 times para visualizar o chaveamento.</p>
</ng-template>
